*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 2px solid red;
}

body{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.main-container{
    margin: 20px auto;
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.products-container{
    flex-basis: 75%;
}

.products-container .products-grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.products-grid-cell .image-container{
    width: 250px;
}

.products-grid-cell .image-container img{
    width: 100%;
}

.cart-container{
    flex-basis: 25%;
}

.cart-container .empty-cart{
    padding: 20px;
    text-align: center;
}

.cart-with-items {
    padding: 20px;
}

.cart-added-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.added-items-details .quantity-and-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.confirm-order-container{
    text-align: center;
    margin: 20px 0px;
}